# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
ENV.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# Firebase Credentials
helpers/firebaseServiceAccount.json

# Node/React (if any frontend exists)
node_modules/
frontend/build/
frontend/.env
frontend/src/manifest.json

# OS Files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Jupyter Notebooks (if applicable)
.ipynb_checkpoints/

# Logs
logs/
*.log

# PyCharm
.idea/

# Ignore Demo Videos or Large Media Files
*.mp4
*.mov

# Backup Files
*.bak
*.tmp
